{% extends 'base.html' %}

{% block title %}
Abonnement
{% endblock %}

{% block content %}
<div>
    <h2>Suivre d'autres utilisateurs</h2>
    <form action="" method="post">
        {% csrf_token%}
        {{ form }}
        <input type="submit" value="Envoyer">
    </form>
</div>
<div>
    <h2>Abonnements</h2>
    <ul>
        {% for following in followings %}
            <li>
                {{ following.followed_user }} <a href=""><button type="button" class="btn btn-danger btn-sm">Se désabonner</button></a>
            </li>
        {% empty %}
            <p>Vous n'avez aucun abonnement.</p>
        {% endfor %}
    </ul>
</div>
<div>
    <h2>Abonnés</h2>
    <ul>
        {% for follower in followers %}
            <li>{{ follower.user }}</li>
        {% empty %}
            <p>Vous n'avez aucun abonné.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}