{% extends 'base.html' %}

{% block title %}Abonnement{% endblock %}

{% block content %}
<div class="container">
    <div class="p-5 row">
        <h2 class="text-center">Suivre d'autres utilisateurs</h2>
        <form action="" method="post">
            {% csrf_token%}
            {{ form }}
            <input type="submit" value="Envoyer">
        </form>
    </div>
    <div class="p-5 row">
        <h2 class="text-center">Abonnements</h2>
        <ul class="list-group">
            {% for following in followings %}
                <li class="list-group-item">
                    {{ following.followed_user }} <a href="{% url 'unfollow' following.pk %}"><button type="button" class="btn btn-danger btn-sm">Se désabonner</button></a>
                </li>
            {% empty %}
                <p>Vous n'avez aucun abonnement.</p>
            {% endfor %}
        </ul>
    </div>
    <div class="p-5 row">
        <h2 class="text-center">Abonnés</h2>
        <ul class="list-group">
            {% for follower in followers %}
                <li class="list-group-item">{{ follower.user }}</li>
            {% empty %}
                <p>Vous n'avez aucun abonné.</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}