{% extends 'base.html' %}

{% block content %}
<div class="p-3 container">
    <div class="row text-center">
        <h1>Vos posts</h1>
    </div>

    {% for post in posts %}
    <div class="row">
        {% if post.content_type == 'TICKET' %}
            {% include 'bookreview/ticket_extend_posts.html' with ticket=post %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'bookreview/review_extend_posts.html' with review=post %}
        {% endif %}
    </div>
    {% empty %}
    Vous n'avez pas de publication.
    {% endfor %}
</div>
{% endblock %}