{% extends 'base.html' %}

{% block content %}
<div class="p-3 container">
    <div class="row text-center">
        <h1>Vos posts</h1>
    </div>

    {% for post in posts %}
    <div class="row flux-post p-1">
        {% if post.content_type == 'TICKET' %}
            {% include 'bookreview/ticket_post_flux.html' with ticket=post %}
            <div class="float-end">
                <a class="btn btn-primary" href="{% url 'ticket_update' post.id %}">Modifier</a>
                <a class="btn btn-danger disabled" href="">Supprimer</a>
            </div>
        {% elif post.content_type == 'REVIEW' %}
            {% include 'bookreview/review_post_flux.html' with review=post %}
            <div class="float-end">
                <a class="btn btn-primary" href="{% url 'review_update' post.id %}">Modifier</a>
                <a class="btn btn-danger disabled" href="">Supprimer</a>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}