<div class="row flux-post">
    <div class="d-flex justify-content-between">
        <span class="pull-left">
            {% if request.user == review.user %}
            Vous avez
            {% else %}
            {{ review.user }} a
            {% endif %}
            posté une critique
        </span>
        <span class="float-right">{{ review.time_created|date:'G:i - j F Y' }}</span>
    </div>

    <div>
        <h2>{{ review.headline }} - {{ review.rating }} / 5</h2>
    </div>

    <div>
        {% include 'bookreview/ticket_post_flux.html' with ticket=review.ticket %}
    </div>

</div>